/* .row {
    margin-bottom: 1rem;
} */
 
body {
    /* padding-top: 2rem;
    padding-bottom: 2rem; */
  }
    
.row {
    /* margin-top: 1rem; */
    /* margin-bottom: 0; */
}
[class*="col-"] {
    /* padding-top: 0.3rem;
    padding-bottom: 0.5rem; */
    padding-bottom: 2%;
}

.slogan {
    color: #CC5500;
    font-size: small;
    text-align: center;
    font-style: italic;
    font-family: "Lucida Handwriting";
    padding-bottom:1%;
}

h2 {
    color:lightslategrey;
    font-size: x-large;
    text-align: center;
    padding-bottom:10%;
}
h3 {
    color: black;
    font-size: medium;
    text-align: left;
    font-style: bold;
    padding-top: 5%;
}
.cost {
    font-size:small;
    font-style:normal;
    padding-bottom: 5%;
}
h4 {
    color:gray;
    font-size: small;
    text-align: left;
    font-weight: 400;
}
img {
    max-height:100%; 
    max-width:100%;
    border-radius: 20%;
    padding: 5% 0% 5% 5%;
    /* float: right; */
}

button {
    border-radius: 12px;
    height:50%;
    width: 70%;
    font-size:x-small;
    border-color: gray;
    border-style: solid;
    box-shadow: 0 2px rgb(188, 185, 185);
}

.logo {
    max-height: 100%;
    padding-right:10%;
    padding-bottom:15%;
}